.x-alert {
  border: 1px solid;
  border-radius: 3px;
}
.x-alert.danger {
  background-color: var(--color-danger);
  border-color: var(--color-danger);
}
.x-alert.primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
.x-alert.success {
  background-color: var(--color-success);
  border-color: var(--color-success);
}
.x-alert.warning {
  background-color: var(--color-warning);
  border-color: var(--color-warning);
}
.x-alert.close-auto {
  animation: wait-before-scale-disappear 5s ease;
  animation-fill-mode: forwards;
}
.x-alert.close-focus {
  animation: scale-disappear 0.5s ease;
}